// colours
$primary-colour: lightgreen;
$white: #ffffff;
$black: #000000;
$beige: #d9d1c6;
$brown-fade: rgba(65, 56, 49, 0.8);
$brown-dark: #413831;
$brown-back: #534b47;
$brown-text: #4a4038;

// fonts
$primary-font: "armataregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
