// colours
$white: #ffffff;
$black: #000000;
$beige: #e7e1da;
$brown-navbar: rgba(65, 56, 49, 0.8);
$brown-footer: #524b47;
$brown-dark: #4a4038;
$brown-link: #956b52;

// fonts
$primary-font: "armataregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
