.carousel {
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }

  background: #000 url(../images/gi-bg.jpg) center no-repeat;
  background-size: cover;
  color: $white;
  height: 100vh;

  .carousel-inner,
  .carousel-item,
  .carousel-content {
    height: 100%;
  }
}

.carousel-item .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  line-height: 1.4;
  text-align: center;
  letter-spacing: -2px;
}
