#manifesto {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $white;
  overflow-x: hidden;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: visibility 0.4s linear, opacity 0.4s ease;
}

.show-manifesto #manifesto {
  z-index: 10000;
  opacity: 1;
  visibility: visible;
}

.hide-manifesto #manifesto {
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
}

.m__wrapper {
  position: relative;
  background-color: $brown-dark;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  overflow-y: scroll;

  &:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/gi-bg.jpg) center no-repeat;
    background-size: cover;
    opacity: 0.1;
  }
}

.m__close {
  position: relative;
  display: inline-block;
  margin-bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;

  p {
    text-transform: uppercase;
    font-size: 0.625rem;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 0;
  }
}

.m__btn {
  margin: 0 auto 0.5rem;

  &:before,
  &:after {
    background-color: $white;
  }
}

.m__content {
  position: relative;
  z-index: 1;
  text-align: center;

  h4 {
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 4rem;
  }

  .textwidget p {
    counter-increment: para;
    line-height: 1.6;
    margin-bottom: 4rem;

    &:before {
      content: "<" counter(para) ">";
      display: block;
      font-size: 0.75rem;
      letter-spacing: 2px;
      margin-bottom: 1rem;
    }
  }
}
