.c-post {
  overflow: hidden;

  img {
    max-width: 100%;
    height: auto;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 600;
  }

  &.sticky {
    border-left: 5px solid $primary-colour;
  }
  &.format-quote {
    blockquote {
      background-color: $primary-colour;
      color: #fff;
      padding: 20px;
      font-size: 16px;
      a {
        color: #fff;
      }
    }
  }
  &.format-link {
    .c-post__excerpt p {
      background-color: $primary-colour;
      padding: 20px;
      font-size: 16px;
      text-align: center;
      a {
        color: #fff;
      }
    }
  }
  p:after {
    content: "";
    display: table;
    clear: both;
  }
  &__header {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  &__footer {
    overflow: hidden;
    border-top: 1px solid grey;
    margin: 30px -20px -20px -20px;
    padding: 20px;
  }
  &__tags {
    margin-top: 16px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin-bottom: 8px;
        a {
          background-color: #f1f1f1;
          border-bottom: none;
          margin-right: 10px;
          padding: 5px 10px;
          display: inline-block;
          font-size: 14px;
          color: #666;
          text-decoration: none;
        }
      }
    }
  }
  &__audio {
    width: 100%;
    margin: 0 0 20px 0;
  }
  &__thumbnail img {
    max-width: 100%;
    height: auto;
  }
  &__thumbnail,
  &__gallery,
  &__video {
    background-color: lightgray;
    text-align: center;
  }
  &__excerpt {
    color: $brown-text;
  }
  &__meta {
    color: $brown-text;
  }
  &__title {
    font-weight: 600;
    font-size: 1.5rem;
    a {
      color: $brown-text;
      border-bottom: none;
    }
  }
  &__single-title {
    font-weight: 600;
    font-size: 2rem;
    a {
      color: $brown-text;
      border-bottom: none;
    }
  }
  &__event-info {
    color: $white;
    background: $brown-text;
    padding: 20px;
    font-size: 0.875rem;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      & + li {
        margin-top: 0.5rem;
      }
      > span:first-child {
        margin-right: 0.25rem;
      }
    }
  }
  &__event-table table {
    th {
      width: 40px;
    }
    span {
      display: block;
    }
  }
}

.project-subtitle {
  text-transform: uppercase;
  color: $white;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

.project-subtitle,
.project-content {
  line-height: 1.8;
}

.single-project .c-post__content {
  line-height: 1.8;
}
