.menu-social {
  list-style: none;
  padding: 0;
  font-size: 1.5rem;

  li {
    display: inline-block;

    button {
      background: transparent;
      border: 0;
      padding: 0;
    }

    a,
    button {
      color: $white;
      opacity: 0.6;
      transition: opacity 0.2s ease-out;
    }

    a:hover,
    button:hover {
      opacity: 1;
    }

    & + li {
      margin-left: 1.5rem;
    }
  }
}
