.c-post {
  &__card {
    margin-bottom: 1rem;
    transition: box-shadow ease 0.2s;
    &:hover {
      box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
    }
  }
  &__card-desc {
    background: $white;
    padding: 20px;

    h3 {
      line-height: 1.6;
    }

    p {
      margin: 0;
      line-height: 1.6;
    }

    .read-more-link {
      margin-top: 0.875rem;
    }
  }
  &__card-info {
    color: $white;
    background: $brown-dark;
    padding: 0.875rem 1.25rem;
    font-size: 0.875rem;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      text-transform: uppercase;
      display: inline-block;
    }
  }
}
