.footer-homepage {
  background: $brown-back;
  color: $beige;

  h4 {
    font-size: 1rem;
    line-height: 1.4;

    &:after {
      content: "";
      display: block;
      height: 1px;
      width: 30px;
      background: $beige;
      margin: 2rem 0 1.5rem;
    }
  }
}

#menu-footer {
  padding: 0;
  list-style: none;
  text-transform: uppercase;

  a {
    color: $beige;
  }

  li {
    margin-bottom: 0.5rem;
  }
}
