body {
  background-color: $beige;
}

.nav__main {
  background: $brown-fade;
  padding: 0.5rem 1.5rem;

  &.fixed-top {
    left: auto;
    right: auto;
    width: 100%;
  }
}

.nav__wrapper {
  position: relative;
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;

  a {
    color: $white;
    margin-right: 1rem;

    &:last-child {
      margin-left: 1rem;
      margin-right: 0;
    }
  }

  .nav__logo {
    margin-left: auto;
    margin-right: auto;
    padding-left: 140px;

    img {
      width: auto;
      height: 50px;
    }
  }
}

@media (min-width: 576px) {
  .hide_desktop {
    display: none;
  }
}
@media (max-width: 575px) {
  .hide_mobile {
    display: none;
  }
}

.menu-btn {
  position: fixed;
  top: 2rem;
  left: 1.5rem;
  z-index: 9999;
}

.nav__btn {
  position: relative;
  display: block;
  transition: all 0ms 300ms;
  background: transparent;
  width: 30px;
  height: 30px;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 30px;
    height: 1px;
    background: rgba(255, 255, 255, 1);
    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 30px;
    height: 1px;
    background: rgba(255, 255, 255, 1);
    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.nav__btn.animate {
  &:before {
    bottom: 15px;
    transform: rotate(-45deg);
    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  &:after {
    top: 15px;
    transform: rotate(45deg);
    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
}

.nav__manifesto {
  text-transform: uppercase;
  padding: 0 1.5rem;
  font-size: 0.75rem;
  letter-spacing: 1px;
  margin-left: 4rem;
}

.nav__search {
  form {
    display: flex;
    background-color: rgba(255, 255, 255, 0.25);
  }

  label {
    margin-bottom: 0;
  }

  .search-field {
    position: relative;
    max-width: 160px;
    border: 0;
    padding: 0.375rem 0.5rem;
    font-size: 0.875rem;
    color: $white;
    background: transparent;

    &::placeholder {
      color: $white;
      opacity: 0.5;
    }
  }

  .search-submit {
    display: flex;
    align-items: center;
    border: 0;
    color: $white;
    background: transparent;
  }
}

.nav__link {
  font-size: 0.75rem;
  color: $white;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);

  &:hover {
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
  }
}

.nav__language {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }

  a[lang="en-US"] {
    font-size: 0.75rem;
  }
}

@media (max-width: 1000px) {
  .nav__wrapper {
    .nav__logo {
      padding: 0;
      margin: 0 0 0 3.5rem;
      order: 1;
      flex-grow: 1;
    }

    .nav__link,
    .nav__search {
      display: none;
    }

    .nav__manifesto {
      order: 2;
      padding: 0;
      margin: 0 0.5rem 0 0;
    }

    .nav__language {
      order: 3;
    }
  }
}
