.page {
  line-height: 1.8;

  main a {
    color: $brown-link;

    &:hover {
      color: #745340;
    }
  }
}

.page__title {
  font-size: 1rem;
  text-transform: uppercase;

  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 40px;
    background: $black;
    margin: 1rem 0;
  }
}

.page__subtitle {
  font-size: 1rem;
  text-transform: uppercase;

  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 40px;
    background: $black;
    margin: 1rem 0;
  }
}

.sub-white,
.sub-white-line {
  color: $white;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.sub-white-line {
  margin-bottom: 1.5rem;

  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 35px;
    background: $black;
    margin: 1rem 0;
  }
}

.page__header {
  margin-bottom: 4rem;
}

.wp-block-columns {
  .wp-block-column:not(:last-child) {
    margin-bottom: 28px;
  }
}

.blog main .page__header {
  display: flex;
  justify-content: space-between;
}

.news-sidebar {
  h4 {
    display: none;
  }

  form {
    display: inline-block;
    background-color: $brown-dark;
    padding: 10px;
    border-radius: 20px;
  }

  select {
    background-color: $brown-dark;
    color: $white;
    appearance: none;
    text-indent: 30%;
    border: 0;
    font-size: 0.75rem;

    &:focus {
      outline: none;
    }
  }
}
