.page {
  line-height: 1.8;
}

.page__title {
  font-size: 1rem;
  text-transform: uppercase;

  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 35px;
    background: $black;
    margin: 1rem 0;
  }
}

.page__header {
  margin-bottom: 3rem;
}

.team,
.volunteers {
  margin-top: 4rem;
}

.team-member {
  margin-bottom: 2rem;
  line-height: 1.4;

  img {
    margin-bottom: 1rem;
    filter: grayscale(1);
    transition: filter 0.5s ease-out;

    &:hover {
      filter: grayscale(0);
    }
  }

  &__name {
    margin: 0;
  }

  &__pos {
    opacity: 0.6;
  }

  &__why,
  &__email,
  &__website {
    display: none;
  }
}

#teamModal {
  .modal-body {
    padding: 0;
    margin-top: 8rem;
    color: $white;
  }

  .modal-content {
    border: 0;
    background: transparent;
  }

  button.close {
    color: $white;
    float: none;
    text-shadow: none;
    font-size: 2rem;
    width: max-content;
    padding: 0.5rem 1rem;
    margin: 0 auto;
  }

  .modal-pos {
    &:after {
      content: "";
      display: block;
      height: 1px;
      width: 40px;
      background: $white;
      margin: 1rem 0 2rem;
    }
  }

  .modal-email,
  .modal-web {
    display: block;
    width: max-content;
  }
}

.modal-backdrop {
  background: $brown-dark;

  &.show {
    opacity: 0.9;
  }
}
