.page {
  line-height: 1.8;

  main a {
    color: $brown-link;

    &:hover {
      color: #745340;
    }
  }

  .past-events-link {
    display: inline-block;
    color: #524b47;
    border-bottom: 1px solid #524b47;
    padding-bottom: 0.25rem;

    &:hover {
      text-decoration: none;
    }
  }
}

.page__title {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 40px;
    background: $black;
    margin: 1rem 0;
  }
}

.page-about .page__subtitle {
  font-size: 1.25rem;
  letter-spacing: 0.5px;
}

.page__subtitle {
  font-size: 1rem;
  text-transform: uppercase;

  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 40px;
    background: $black;
    margin: 1rem 0;
  }
}

.sub-white,
.sub-white-line {
  color: $white;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.sub-white-line {
  margin-bottom: 1.5rem;

  &:after {
    content: "";
    display: block;
    height: 1px;
    width: 35px;
    background: $black;
    margin: 1rem 0;
  }
}

.page__header {
  margin-bottom: 4rem;
}

.wp-block-columns {
  .wp-block-column:not(:last-child) {
    margin-bottom: 28px;
  }
}

.blog main .page__header {
  display: flex;
  justify-content: space-between;
}

.news-sidebar {
  h4 {
    display: none;
  }

  form {
    display: inline-block;
    background-color: $brown-dark;
    padding: 10px;
    border-radius: 20px;
  }

  select {
    background-color: $brown-dark;
    color: $white;
    appearance: none;
    text-indent: 30%;
    border: 0;
    font-size: 0.75rem;

    &:focus {
      outline: none;
    }
  }
}

.navigation.pagination {
  display: block;
  width: 100%;
  padding: 0 15px;
}

.pagination .page-numbers {
  display: inline-block;
  background: #f1f1f1;
  color: #666;
  padding: 5px 10px;
  margin-right: 5px;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;

  &:hover {
    font-weight: 700;
    color: #745340;
  }

  &.current {
    font-weight: 700;
  }
}
.press {
  &:first-of-type .press-wrapper {
    padding-top: 0;
  }

  .press-content a {
    color: #000;
  }

  .press-content p {
    margin-bottom: 0;
  }
}

.press-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  border-bottom: 1px solid #bbb;
}

@media (min-width: 768px) {
  .press-wrapper {
    flex-direction: row;
  }
}

.press-logo {
  margin-right: 1.25rem;
}

.press-logo img {
  max-width: 160px;
  height: auto;
}

@media (max-width: 767px) {
  .press-logo {
    margin-bottom: 1rem;
  }
}

.press-date {
  display: block;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  list-style: none;
  padding: 0;
}

.press-date li {
  display: inline-block;
}

.press-date li + li:before {
  content: "|";
  display: inline-block;
  margin: 0 4px;
}
